<configuration>
	<system.serviceModel>
		<services>
			<service name="ListaAmigosService.ListaAmigosService">
				<endpoint address="" binding="basicHttpBinding" contract="ListaAmigosService.IListaAmigosService"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/ListaAmigosService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http"/>
		</protocolMapping>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
